*{
    padding:0px;
    margin:0px;
    box-sizing:border-box;
}
:root{
    --primary-color:#47B5FF;
    --secondary-color:#47b5ff;
}
body{
    background-color: var(--primary-color);
    display:flex;
    align-items:center;
    flex-direction: column;
    margin-top: 50px;
    font-family:  'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.container{
    background-color: white;
    border-radius: 8px;
    width: 320px;
    margin: 12px 0;
}

/* Header box with title*/

.head{
    font-size: 25px;
    color: whitesmoke;
    font-weight: normal;
    margin: 12px;
}

/* Search box  */
.search-box{
    padding: 20px;
    background-color: white;
    border-radius: 8px;

}
.msg-box{
    display: none;
    padding: 8px 12px;
    text-align: center;
    font-size: 16px;
    border-radius: 6px;
    text-transform: capitalize;
    margin: 4px 0;
}

/* Active class */
.active{
    display: block;
}

/* Error message */
.error{
    color: #721c24;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
}

/* Pending message */
.pending{
    color: #0c5460;
    background-color: #d1ecf1;
    border: 1.5px solid #bee5eb;
}

.input-box{
    padding-top: 10px;
}
.input-box input{
    width: 100%;
    padding: 8px;
    border-radius: 6px;
    outline: none;
    border: none;
    border: 0.7px solid var(--secondary-color);
    font-size: 14px;
}
.btn{
    width: 100%;
    outline: none;
    padding: 5px 0;
    border: 2px solid var(--secondary-color);
    border-radius: 6px;
    background-color: #47B5FF;
    color: whitesmoke;
    display: block;
    cursor: pointer;
    margin: 12px 0;
    font-size: 15px;
    font-weight: 550;
}
.line-separator{
    width: 100%;
    height: 2px;
    margin: 20px 0px;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color: #c9d4da;
}
.line-separator::before{
    content: 'OR';
    font-weight: 550;
    padding: 0 10px ;
    background-color: white;
}

/* searched city weather section  */

.current-location-weather{
    padding: 12px;
    display: none;
}
.weather-active{
    display: block;
}
.cur-today-weather{
    display: flex;
    justify-content: space-between;
}
.cur-left-area{
    width: 100%;
    padding: 12px;
    background-color: #47b5ff3a;
    border-radius: 6px;
    position: relative;
}
.location-img{
    width: 12px;
    color:#0c5460;
}
.other-weather-info{
    font-size: 15px;
    font-weight: 550;
    position: absolute;
    bottom: 12px;
}
.cur-day .day{
    font-size: 25px;
}
.cur-day .date{
    font-size: 15px;
    font-weight: bold;
}
.cur-location span{
    color:#0c5460;
}
.weather-img .cur-img{
    margin-top: 30px;
    width: 70px;
}
.cur-temp{
    font-weight: bold;
}
.cur-temp span{
    font-size: 40px;
    padding: 0px;
}
.cur-weather-cond{
    font-weight: 550;
}
.cur-temp-right{
    float: right;
}